﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="alert alert-info" ng-show="showError">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success  fadein fadeout" ng-show="showSuccess">
                {{ successMessage }}
            </div>
        </div>
        <div class="panel panel-default" ng-init="loadUser()">
            <div class="panel-heading">Your personal data</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" ng-model="user.username" class="form-control" placeholder="Username" disabled="disabled">
                </div>
                <div class="form-group">
                    <input type="text" ng-model="user.email" class="form-control" placeholder="Email" disabled="disabled">
                </div>
                <div class="form-group">
                    <textarea type="text" ng-model="user.description" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="credentials.oldPassword" class="form-control" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="credentials.firstPassword" class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="credentials.secondPassword" class="form-control" placeholder="New Password again">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="form-control btn" ng-click="editUser()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>