﻿<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Our community</div>
        <div class="panel-body">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>

                        <td>{{user.description | limitTo: 50}} {{ user.description.length > 50 ? '...' : ''}}</td>
                        <td>
                            <button class="btn btn-success btn-xs" ng-click="subscribeTo(user)" ng-hide="user.subscribedTo">Subscribe</button>
                            <button class="btn btn-danger btn-xs" ng-click="unsubscribeTo(user)" ng-show="user.subscribedTo">Unsubscribe</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <div class="col-sm-4">
                                <button ng-disabled="isFirstPage()" class="btn btn-info btn-xs" ng-click="goToPrevPage()">Previous page</button>
                                <button ng-disabled="isLastPage()" class="btn btn-info btn-xs" ng-click="goToNextPage()">Next page</button>
                                <span>Page: {{ page + 1 }}</span>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <span>Per page</span>
                                <select ng-model="count" ng-change="listUsers()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>