﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="alert alert-info" ng-show="showError">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success  fadein fadeout" ng-show="showSuccess">
                {{ successMessage }}
            </div>
        </div>
        <div class="row">
            <div class="well" ng-show="noMessages()">Go share something.</div>

            <div class="row" ng-hide="noMessages()">
                <div class="well" ng-repeat="message in messages">
                    <div class="top-info">
                        <button class="pull-right btn btn-danger btn-xs" ng-click="deleteMessage(message)">Delete</button>
                        <button class="pull-right btn btn-warning btn-xs edit-messsage-button" ng-click="editMessage(message)">Edit</button>
                        <span class="btn btn-default btn-xs btn-info">{{ message.dateCreated | date : 'yyyy-MM-dd HH:mm' }}</span>
                        <span class="btn btn-warning btn-xs btn-info" ng-show="message.isEdited">{{ message.dateEdited | date : 'yyyy-MM-dd HH:mm'}}</span>
                    </div>
                    <textarea class="form-control" ng-model="message.content"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info  btn-sm" ng-disabled="isFirstPage()" ng-click="goToPrevPage()">Previous messages</button>
                    <button class="btn btn-info btn-sm" ng-disabled="isLastPage()" ng-click="goToNextPage()">Next messages</button>
                </div>
                <div class="col-sm-4 col-offset-2">
                    <span>Per page</span>
                    <select ng-model="count" ng-change="listMessages()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
