﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="alert alert-info" ng-show="showError">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success  fadein fadeout" ng-show="showSuccess">
                {{ successMessage }}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Share something</div>
                <div class="panel-body">
                    <div class="form-group">
                        <textarea id="message-content" class="form-control" placeholder="And you're speaking 'bout.." ng-model="content"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="form-control btn btn-default  btn-info" id="btn-share" ng-click="createMessage()">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Latest posts</h3>
            <hr />

            
            <div class="well" ng-show="noMessages()">Hmm no mo' messages.</div>
            
            <div class="row" ng-hide="noMessages()">
                <div class="well" ng-repeat="message in messages">
                    <div class="top-info">
                        <a class="btn btn-default btn-xs btn-info" href="/messages/from/{{message.author}}">{{ message.author }}</a>
                        <span class="btn btn-default btn-xs btn-info">{{ message.dateCreated | date : 'yyyy-MM-dd HH:mm' }}</span>
                        <span class="btn btn-warning btn-xs btn-info" ng-show="message.isEdited">{{ message.dateEdited | date : 'yyyy-MM-dd HH:mm' }}</span>
                    </div>
<pre>
    {{ message.content }}
</pre>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info  btn-sm" ng-disabled="isFirstPage()" ng-click="goToPrevPage()">Previous messages</button>
                    <button class="btn btn-info btn-sm" ng-disabled="isLastPage()" ng-click="goToNextPage()">Next messages</button>
                </div>
                <div class="col-sm-4 col-offset-2">
                    <span>Per page</span>
                    <select ng-model="count" ng-change="listMessages()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
