﻿
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <h1>Heeey, welcome!</h1>
            <p>
                Join our little society to find new friends and cool experiences.
            </p>
        </div>
        <div class="col-xs-4">
            <img src="/images/Pensils.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>We'll be glad for you to</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-2 col-xs-offset-1">
            <a href="/login" class="btn btn-lg btn-info btn-block">Login</a>
        </div>
        <div class="col-xs-1">
            <p>or</p>
        </div>
        <div class="col-xs-2">
            <a href="/register" class="btn btn-lg btn-success btn-block">Register</a>
        </div>
    </div>
</div>