﻿<!doctype html>
<html lang="" ng-app="socialNetworkApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social network</title>

    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libs/flat-ui/dist/css/flat-ui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <base href="/" />
</head>
<body>
    <navbar role="navigation" class="navbar-default navbar-fixed-top" ng-controller="menuController">
        <div class="container">
            <div class="navbar-header">
                <a href="/timeline" class="navbar-brand">Social Network</a>
            </div>
            <ul class="nav navbar-nav navbar-left" ng-show="display()">
                <li>
                    <a href="/timeline">Timeline</a>
                </li>

                <li>
                    <a href="/my-messages">My messages</a>
                </li>

                <li>
                    <a href="/users">Users</a>
                </li>

                <li>
                    <a href="/my-subscriptions">My Subscriptions</a>
                </li>

                <li>
                    <a href="/my-subscribers">Subscribers</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="display()">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/edit-profile">Edit profile</a></li>
                        <li><a href="/" ng-click="logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-collapse"></div>
        </div>
    </navbar>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/flat-ui/dist/js/flat-ui.js"></script>
    <script src="~/libs/cryptojslib/rollups/sha3.js"></script>
    <script src="~/libs/angular/angular.js"></script>
    <script src="~/libs/angular/angular-cookies.js"></script>
    <script src="~/libs/angular/angular-resource.js"></script>
    <script src="~/libs/angular/angular-route.js"></script>

    <script src="~/js/app/app.js"></script>
    <script src="~/js/app/controllers/logincontroller.js"></script>
    <script src="~/js/app/controllers/registercontroller.js"></script>
    <script src="~/js/app/controllers/homecontroller.js"></script>
    <script src="~/js/app/controllers/menucontroller.js"></script>
    <script src="~/js/app/controllers/messageController.js"></script>
    <script src="~/js/app/controllers/usercontroller.js"></script>
    <script src="~/js/app/controllers/editusercontroller.js"></script>
    <script src="~/js/app/controllers/subscriptioncontroller.js"></script>
    <script src="~/js/app/controllers/editmessagecontroller.js"></script>
    <script src="~/js/app/controllers/usermessagecontroller.js"></script>
    <script src="~/js/app/controllers/subscribercontroller.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
