﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row" ng-show="error.visible">
            <div class="alert alert-info">
                <p>{{ error.message }}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">You can register here:</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" ng-model="credentials.username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" ng-model="credentials.email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea type="text" ng-model="credentials.description" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="credentials.password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="credentials.secondPassword" class="form-control" placeholder="Password again">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="form-control btn" ng-click="register()">Register</button>
                        </div>
                        <div class="col-sm-6">
                            <a href="/login" class="form-control btn btn-login btn-default">Go to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>